# Credenciais da conta eWeLink
EWELINK_EMAIL=seu-email@gmail.com
EWELINK_PASSWORD=sua-senha
EWELINK_COUNTRY_CODE=+55
EWELINK_REGION=us

# App credentials (valores públicos do app eWeLink)
EWELINK_APP_ID=4s1FXKC9FaGfoqXhmXSJneb3qcm1gOak
EWELINK_APP_SECRET=oKvCM06gvwkRbfetd6qWRrbC3rFrbIpV
